.generalCell {
  width: var(--panel-size);
  box-sizing: border-box;
  background-color: var(--cell-color);
  opacity: 1;
  aspect-ratio: 1/1;
  border-radius: 4px;
  border: 0.5px black solid;
}

@property --gradient-percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.cell {
  --gradient-percent: 0%;
  transition: --gradient-percent 0.5s ease-out;

  background: radial-gradient(
    circle,
    color-mix(in srgb, var(--cell-color), white var(--gradient-percent)),
    var(--cell-color)
  );
}

.cell:hover {
  --gradient-percent: 40%;
}
.cell {
  cursor: pointer;
}

.hoveredCell {
  background-color: var(--cell-color-hovered);
}

.emptyCell {
  opacity: 0.1;
  background-color: grey;
  pointer-events: none;
}

.previewedCell {
  opacity: 0.5;
  background-color: var(--piece-color-preview);
}

.selectedCell {
  background-color: var(--cell-color-selected);
}

.placedCell {
  position: absolute;
  opacity: 0.3;
  background-color: var(--piece-color-placed);
}

.placedSelectedPanel {
  background-color: var(--piece-color-selected-placed);
}

.cellControlIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0.8;
  scale: 0.84;
  transition: scale 0.3s ease;
}

:hover > .cellControlIcon {
  scale: 1;
}
