.cellBorder {
  width: var(--panel-size);
  box-sizing: border-box;
  opacity: 1;
  aspect-ratio: 1/1;
  position: absolute;

  border-width: calc(1 / 2 * var(--panel-border));
  border-style: solid;
}

.thickBorder {
  border-style: solid;
  border-width: calc(3 / 4 * var(--panel-border));
}
