.gameArea {
  max-width: 100%;
  display: grid;
  grid-template-areas: "board menu" "pieces pieces";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  height: calc(100vh - 2 * var(--root-padding));
}

.piecesContainer {
  grid-area: pieces;
  padding: 20px;
  border: 2px blue solid;
  max-width: 100%;
  overflow-y: hidden;
}

.gameControls {
  padding: 24px;
  width: fit-content;
}
