.gameControlsContainer {
  height: 100%;
  width: 100%;
  background-color: rgb(94, 0, 94);
  border-radius: 20px;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
