.boardWrapper {
  border-radius: calc(var(--board-wrapper-thickness) * 0.5px);
  padding: calc(var(--board-wrapper-thickness) * 1px);
  background-color: var(--wall-color);
  width: fit-content;
}

.boardGrid {
  display: grid;
  grid-template-columns: repeat(9, var(--panel-size));
  grid-template-rows: repeat(6, var(--panel-size));
}
