.controlButton {
  background-color: #441600;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  min-width: calc(2 * var(--panel-size));
  width: fit-content;
  max-width: calc(3 * var(--panel-size));

  height: var(--panel-size);
  border-radius: calc(1 / 5 * var(--panel-size));
  padding: 8px;
  border: 4px solid sandybrown;
  font-size: var(--panel-font-size);
  box-sizing: border-box;
}

.inactiveButton {
  background-color: rgb(57, 57, 57);
  border: none;
  color: grey;
  cursor: not-allowed;
}
