.boardWrapper {
  border-radius: 8px;
  padding: 16px;
  background-color: var(--wall-color);
  width: 800px;
}

.boardGrid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, auto);
}
