.boardWrapper {
  border-radius: 8px;
  padding: 16px;
  background-color: var(--wall-color);
  width: fit-content;
}

.boardGrid {
  display: grid;
  gap: var(--board-gap);
  grid-template-columns: repeat(9, var(--panel-size));
  grid-template-rows: repeat(6, var(--panel-size));
}
