.panelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--panel-color);
  box-sizing: border-box;
  border: 4px var(--wall-color) solid;
  border-radius: 12px;
}
.previewedPanel {
  background-color: var(--panel-color-previewed);
}

.wall {
  background-color: var(--wall-color);
  position: absolute;
  inset: 4px;
  height: auto;
  width: auto;
  border: white solid 2px;
  z-index: 0;
}

.inactiveBinPanel {
  border-color: grey;
}

.piecePlaced {
  position: absolute;
  pointer-events: none;
  opacity: 0.1;
  z-index: var(--z-index-piece-preview);
}

.coveredPanel {
  border-radius: 40px;
}
