.panelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #321;
  box-sizing: border-box;
  border: 4px var(--wall-color) solid;
  border-radius: 12px;
}

.wall {
  background-color: var(--wall-color);
}

.piecePreview {
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  z-index: var(--z-index-piece-preview);
}
.piecePreview > * > * > * {
  background-color: green !important;
}
