.pieceListContainer {
  display: flex;
  gap: calc(0.75 * var(--panel-size));
  flex-wrap: wrap;
  justify-content: safe center;
  align-items: safe center;
}

.horizontalScroll {
  height: calc(3 * var(--panel-size));
  width: max-content;
  flex-direction: column;
}
.verticalScroll {
  width: calc(3 * var(--panel-size));
  height: max-content;
}
