.puzzlePiece {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.pieceRow {
  display: flex;
  flex-direction: row;
  width: min-content;
}

.selectedPiece {
  --cell-color: var(--cell-color-selected-piece);
}

.placedPiece {
  --cell-color: grey;
}

.piecePreview {
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  z-index: var(--z-index-piece-preview);
}
